.big-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.property-card {
    width: 70rem;
    max-width: 100%;
    padding: 1.5rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: flex-start;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    cursor: pointer;
}

.property-image {
    max-width: 100%;
    max-height: 30rem;
}

.reservation-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.mat-button {
    background-color: #99C4C8;
    border: 0.5px solid rgb(139, 135, 135) !important;
}

.mat-button:hover:enabled {
    transition: .08s ease-in;
    background-color: #85aaad;
    border: 1px solid black !important;
    color: white;
}

.reserve-button:hover:enabled {
    border: 2px solid black !important;
}

mat-card-content {
    width: 100%;
}

.property-address {
    color: #68A7AD;
    font-weight: 500;
    font-size: 1.2rem;
}

.property-guests {
    font-size: 1rem;
}

.property-description {
    font-size: 1rem;
}

.property-price {
    color: #68A7AD;
    font-weight: 500;
    font-size: 1.5rem;
}

.error {
    color: red;
    text-align: center;
    height: 3rem;
    width: 100%;
  }